#pip install -r requirements.txt
# --- [ 1. ระบบหน้าต่าง UI และการแสดงผล ] ---
pyside6==6.11.1                 # เอนจิ้นหลักในการสร้างหน้าต่างโปรแกรม (GUI) และระบบปุ่มกดต่างๆ
pyside6_essentials==6.11.1      # โมดูลพื้นฐานที่จำเป็นของ PySide6 (Core Widgets/Layouts)
pyside6_addons==6.11.1          # ฟังก์ชันเสริมของ PySide6 เช่น ระบบจัดการมัลติมีเดียขั้นสูง

# --- [ 2. ระบบ AI และการจัดการภาพวิดีโอ ] ---
ultralytics==8.4.76             # หัวใจหลักของ AI (YOLO) ใช้โหลดโมเดลเพื่อตรวจจับพฤติกรรมต้องสงสัย/ขโมยของ
opencv_python==4.13.0.90        # ใช้เปิดกล้องอ่านเฟรม ดึงสัญญาณภาพ แปลงสี และย่อขนาดภาพเบื้องหลัง
opencv_contrib_python==4.13.0.90 # ปลั๊กอินเสริมของ OpenCV (มีหรือไม่มีก็ได้ แต่แนะนำให้คงไว้ตามที่สแกนเจอ)
numpy==2.5.1                    # ประมวลผลข้อมูลภาพ (เพราะ OpenCV จะมองภาพถ่ายทุกเฟรมเป็น Array ของ Numpy)

# --- [ 3. ระบบตรวจวัดสถานะเครื่อง (Metrics) ] ---
psutil==7.2.2                   # ใช้ดึงค่า % การทำงานของ CPU และ RAM มาแสดงผลบนหน้าจอหลัก
pynvml==13.0.1                  # ใช้ดึงค่า % การทำงานของเซ็นเซอร์การ์ดจอ NVIDIA GPU
nvidia_ml_py==13.610.43         # ตัวเชื่อมโยงคำสั่งภาษา Python เข้ากับไดรเวอร์การ์ดจอ NVIDIA

# --- [ 4. ระบบจัดการข้อมูลและสถิติย้อนหลัง ] ---
pandas==3.0.3                   # ใช้จัดการตารางข้อมูล บันทึกและดึงประวัติการแจ้งเตือน (ในหน้า Playback)
pyqtgraph==0.14.0               # ใช้สำหรับวาดกราฟสถิติความถี่การแจ้งเตือนแบบ Real-time บน Dashboard (ถ้ามี)