#pip install -r requirements.txt
psutil>=5.9.0
pip install psutil
# ===========================
# Web Dashboard
# ===========================
PySide6 pyqtgraph

# ===========================
# Data Processing
# ===========================
pandas>=2.3.0
numpy>=2.2.0

# ===========================
# Computer Vision
# ===========================
opencv-python>=4.11.0
Pillow>=11.3.0

# ===========================
# YOLO
# ===========================
ultralytics>=8.3.0

# ===========================
# System Monitoring
# ===========================
psutil>=7.0.0
GPUtil>=1.4.0

# ===========================
# Plotting
# ===========================
matplotlib>=3.10.0

# ===========================
# Configuration
# ===========================
PyYAML>=6.0.2

# ===========================
# Telegram
# ===========================
python-telegram-bot>=22.0

# ===========================
# Utilities
# =========================== 555
requests>=2.32.0

